<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>filters.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>AdminAuthentication</filter-name>
        <filter-class>filters.AdminAuthentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthentication</filter-name>
        <url-pattern>/AdminPanel.jsp</url-pattern>
        <url-pattern>/AddStudent.jsp</url-pattern>
        <url-pattern>/AddInstruction.jsp</url-pattern>
        <url-pattern>/AddQuestion.jsp</url-pattern>
        <url-pattern>/InstructionList.jsp</url-pattern>
        <url-pattern>/QuestionList.jsp</url-pattern>
        <url-pattern>/StudentList.jsp</url-pattern>
        <url-pattern>/deleteinstruction.jsp</url-pattern>
        <url-pattern>/deletequestion.jsp</url-pattern>
        <url-pattern>/deletestudent.jsp</url-pattern>
        <url-pattern>/updateinstruction.jsp</url-pattern>
        <url-pattern>/updatequestion.jsp</url-pattern>
        <url-pattern>/updatestudent.jsp</url-pattern>
        <url-pattern>/updateinstructionnow.jsp</url-pattern>
         <url-pattern>/updatequestionnow.jsp</url-pattern>
        <url-pattern>/updatestudentnow.jsp</url-pattern>
        <url-pattern>/ScheduleExam.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authentication</filter-name>
        <url-pattern>/Home.jsp</url-pattern>
        <url-pattern>/Exam.jsp</url-pattern>
        <url-pattern>/Result.jsp</url-pattern>
        <url-pattern>/StudentInstructions.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>hasexam</filter-name>
        <filter-class>filters.HasExam</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hasexam</filter-name>
        <url-pattern>/StudentInstructions.jsp</url-pattern>
        <url-pattern>/Exam.jsp</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>  
        <exception-type>java.lang.Exception</exception-type>  
        <location>/error.jsp</location>  
    </error-page> 
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
